html,body {
  height: 100%;
}

#root {
  height: 100%;
}

/* Full page styling */
.App {
  background-color: #FFF8F5;
  text-align: left;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Drawing Tools styling */
.Drawing-tools {
  margin-left: 3rem;
  margin-right: 3rem;
}

body {
  font-family: 'Apercu Mono Pro';
  color:#8B134D;
  font-size: 18pt;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.header {
  margin-left: 3rem;
  padding-top: 1.5rem;
}

.logo {
  width: 73px;
}

/* App layout styling */
.body-container {
  display: flex;
}


.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3rem;
  width: 100%;
  height: 100%;
}

/* Canvas styling */
.canvas-box {
  flex-grow: 1;
}
#paper-canvas {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: solid 2px #8B134D;
  background-color: white;
}

/* Styling of the Undo, Redo, and Clear buttons */
.canvas-history-button-group {
  display: flex;
  padding-bottom: 10px;
  gap: 12px;
}
.canvas-history-button {
  background-color: white;
  border: 2px solid #8B134D;
  border-radius: 3px;
  color: #8B134D;
  font-family: 'Apercu Mono Pro';
  font-size: 1rem;
  padding: 4px 12px;
}

.canvas-bottom-button-group {
  display: flex;
  justify-content: space-between;
}
.export-button {
  background-color: #8B134D;
  border: none;
  color: white;
  font-family: 'Apercu Mono Pro';
  font-size: 1rem;
  padding: 20px 30px;
}

/* Vertical spacing between drawing tools */
.Drawing-tools {
  margin-bottom: 40px;
}

.Toolbar {
  flex: 0 0 340px;
}

@font-face {
  font-family: 'Apercu Mono Pro';
  src: local('Apercu Mono Pro'), url(./Fonts/apercu_mono_pro.otf) format('opentype');
}