html,
body {
  height: 100%;
  background-color: #fff8f5;
}

#root {
  height: 100%;
}

/* Full page styling */
.App {
  background-color: #fff8f5;
  text-align: left;
  height: 100%;
  /* max-width: 100%;
  max-height: 100%; */
  /* display: flex; */
}

/* Drawing Tools styling */
.Drawing-tools {
  margin-left: 3rem;
  margin-right: 3rem;
}

body {
  font-family: "Apercu Mono Pro";
  color: #8b134d;
  font-size: 18pt;
  /* height: 100%; */
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 12px;
}

.header {
  margin-left: 3rem;
  padding-top: 1.5rem;
}

.logo {
  width: 73px;
}

/* App layout styling */
.body-container {
  display: flex;
  height: calc(100% - 11rem);
  width: 100%;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3rem;
  width: 100%;
  /* height: 100%; */
  /* display: block; */
}

/* Canvas styling */
.canvas-box {
  flex-grow: 1;
  border-radius: 3px;
  border: solid 2px #8b134d;
  /* background-color: white; */
  height: calc(100% - 11rem);
}

canvas {
  width: 100%;
  height: 100%;
  /* display: block; */
}

/* Styling of the Undo, Redo, and Clear buttons */
.canvas-history-button-group {
  display: flex;
  padding-bottom: 10px;
  gap: 12px;
  align-items: center;
}
.canvas-history-button {
  background-color: white;
  border: 2px solid #8b134d;
  border-radius: 3px;
  color: #8b134d;
  font-family: "Apercu Mono Pro";
  font-size: 1rem;
  padding: 4px 12px;
}

.canvas-history-button:hover {
  background-color: #8b134d;
  color: white;
}

.canvas-bottom-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-picker-menu {
  z-index: 2;
  position: absolute;
  bottom: 64px;
  background-color: white;
  border: 2px solid #8b134d;
  border-radius: 3px;
  padding: 16px;
}

.menu-closer {
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.background-color-button-group {
  display: flex;
  align-items: center;
}

.color-button-block {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 38px 38px 38px 38px 38px 38px;
  grid-template-rows: 38px 38px 38px 38px;
}

.pattern-button-block {
  display: flex;
  flex-wrap: wrap;
}

.export-button {
  background-color: #8b134d;
  border: none;
  color: white;
  font-family: "Apercu Mono Pro";
  font-size: 1rem;
  height: 60px;
  padding: 20px 30px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.color-button {
  border: none;
  height: 36px;
  width: 36px;
  margin: 0px 0px 2px 2px;
}

.color-button:hover {
  transform: scale(1.1);
}

.color-button:focus {
  outline: 4px solid #8b134d;
  outline-offset: -2px;
}

.color-button-selected {
  border: none;
  height: 36px;
  width: 36px;
  margin: 0px 0px 2px 2px;
  outline: 4px solid #8b134d;
  outline-offset: -4px;
}

.color-button-selected:hover {
  transform: scale(1.1);
}

.background-color-button {
  /* background-color: white; */
  height: 36px;
  width: 36px;
  margin-right: 18px;
  outline: 4px solid #8b134d;
  outline-offset: -3px;
}

.shape-button {
  background-color: transparent;
  border: none;
  padding: 0 14px 0 0;
}

.shape-icon:hover {
  fill: #8b134d;
  /* fill-opacity: 0.1; */
}

.shape-icon-selected {
  fill: #8b134d;
}

.pattern-button {
  background-color: transparent;
  border: none;
  /* margin: 3px; */
  padding: 0 8px 6px 0;
}

.pattern-icon:hover {
  fill: #8b134d;
  /* fill-opacity: 0.1; */
}

.pattern-icon-selected {
  fill: #8b134d;
}

.pattern-element:hover {
  fill: white;
}

/* Vertical spacing between drawing tools */
.Drawing-tools {
  margin-bottom: 30px;
}

.tool-name {
  font-size: 1.125rem;
  margin-bottom: 14px;
}

.background-color-name {
  font-size: 1.125rem;
}

.Toolbar {
  flex: 0 0 340px;
}

@font-face {
  font-family: "Apercu Mono Pro";
  src: local("Apercu Mono Pro"),
    url(./Fonts/apercu_mono_pro.otf) format("opentype");
}

/* Color button grid */

button.lively-lavender {
  background-color: #f0e4eb;
  grid-column-start: 1;
  grid-row-start: 1;
}

button.brash-burgundy {
  background-color: #8d134d;
  grid-column-start: 1;
  grid-row-start: 2;
}

button.black-raspberry {
  background-color: #341225;
  grid-column-start: 1;
  grid-row-start: 3;
}

button.cold-indigo {
  background-color: #96bcbc;
  grid-column-start: 2;
  grid-row-start: 1;
}

button.medium-indigo {
  background-color: #0a2c49;
  grid-column-start: 2;
  grid-row-start: 2;
}

button.dark-indigo {
  background-color: #001129;
  grid-column-start: 2;
  grid-row-start: 3;
}

button.giddy-green {
  background-color: #e4f2e4;
  grid-column-start: 3;
  grid-row-start: 1;
}

button.growing-green {
  background-color: #80998c;
  grid-column-start: 3;
  grid-row-start: 2;
}

button.graceful-olive {
  background-color: #6f7347;
  grid-column-start: 3;
  grid-row-start: 3;
}

button.forest-green {
  background-color: #2d3f23;
  grid-column-start: 3;
  grid-row-start: 4;
}

button.youthful-yellow {
  background-color: #fbef4f;
  grid-column-start: 4;
  grid-row-start: 1;
}

button.yearning-yellow {
  background-color: #fedc34;
  grid-column-start: 4;
  grid-row-start: 2;
}

button.mature-yellow {
  background-color: #fdbe14;
  grid-column-start: 4;
  grid-row-start: 3;
}

button.original-ochre {
  background-color: #d3ad44;
  grid-column-start: 5;
  grid-row-start: 1;
}

button.talented-tan {
  background-color: #ae8035;
  grid-column-start: 5;
  grid-row-start: 2;
}

button.balanced-brown {
  background-color: #664516;
  grid-column-start: 5;
  grid-row-start: 3;
}

button.playful-peach {
  background-color: #edae9f;
  grid-column-start: 6;
  grid-row-start: 1;
}

button.rebellious-red {
  background-color: #f06553;
  grid-column-start: 6;
  grid-row-start: 2;
}

button.ripened-red {
  background-color: #962f1e;
  grid-column-start: 6;
  grid-row-start: 3;
}

button.website-white {
  background-color: #fbfbf5;
  grid-column-start: 2;
  grid-row-start: 4;
}
