html,
body {
  height: 100%;
  background-color: #fff8f5;
}

#root {
  height: 100%;
}

/* Full page styling */
.App {
  background-color: #fff8f5;
  text-align: left;
  height: 100%;
  /* max-width: 100%;
  max-height: 100%; */
  /* display: flex; */
}

/* Drawing Tools styling */
.Drawing-tools {
  margin-left: 3rem;
  margin-right: 3rem;
}

body {
  font-family: "Apercu Mono Pro";
  color: #8b134d;
  font-size: 18pt;
  /* height: 100%; */
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 12px;
}

.header {
  margin-left: 3rem;
  padding-top: 1.5rem;
}

.logo {
  width: 73px;
}

/* App layout styling */
.body-container {
  display: flex;
  height: calc(100% - 11rem);
  width: 100%;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3rem;
  width: 100%;
  /* height: 100%; */
  /* display: block; */
}

/* Canvas styling */
.canvas-box {
  flex-grow: 1;
  border-radius: 3px;
  border: solid 2px #8b134d;
  background-color: white;
  height: calc(100% - 11rem);
}

canvas {
  width: 100%;
  height: 100%;
  /* display: block; */
}

/* Styling of the Undo, Redo, and Clear buttons */
.canvas-history-button-group {
  display: flex;
  padding-bottom: 10px;
  gap: 12px;
  align-items: center;
}
.canvas-history-button {
  background-color: white;
  border: 2px solid #8b134d;
  border-radius: 3px;
  color: #8b134d;
  font-family: "Apercu Mono Pro";
  font-size: 1rem;
  padding: 4px 12px;
}

.canvas-history-button:hover {
  background-color: #8b134d;
  color: white;
}

.canvas-bottom-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-color-button-group {
  display: flex;
  align-items: center;
}

.color-button-block {
  display: flex;
  flex-wrap: wrap;
}

.pattern-button-block {
  display: flex;
  flex-wrap: wrap;
}

.export-button {
  background-color: #8b134d;
  border: none;
  color: white;
  font-family: "Apercu Mono Pro";
  font-size: 1rem;
  height: 60px;
  padding: 20px 30px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.color-button {
  border: none;
  height: 36px;
  width: 36px;
  /* margin: 0px 0px 1px 1px; */
}

.color-button:hover {
  transform: scale(1.1);
}

.color-button:focus {
  outline: 4px solid #8b134d;
  outline-offset: -2px;
}

.background-color-button {
  background-color: white;
  height: 36px;
  width: 36px;
  margin-right: 18px;
  outline: 4px solid #8b134d;
  outline-offset: -2px;
}

.shape-button {
  background-color: transparent;
  border: none;
}

.shape-icon:hover {
  fill: #8b134d;
  /* fill-opacity: 0.1; */
}

.shape-icon:selected {
  fill: #8b134d;
}

.pattern-button {
  background-color: transparent;
  border: none;
  /* margin: 3px; */
  padding-bottom: 8px;
}

.pattern-icon:hover {
  fill: #8b134d;
  /* fill-opacity: 0.1; */
}

.pattern-element:hover {
  fill: white;
}

/* Vertical spacing between drawing tools */
.Drawing-tools {
  margin-bottom: 36px;
}

.tool-name {
  font-size: 1.125rem;
  margin-bottom: 14px;
}

.background-color-name {
  font-size: 1.125rem;
}

.Toolbar {
  flex: 0 0 340px;
}

@font-face {
  font-family: "Apercu Mono Pro";
  src: local("Apercu Mono Pro"),
    url(./Fonts/apercu_mono_pro.otf) format("opentype");
}
